#mainImg{
    max-width: 100%;
    max-height: 100%;
    padding: 5px;
}
.imgFrame{
    width: 396px;
    height: 215px;
}
.text{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
#map{
    background-color: #223f4f;
    cursor: default;
}
#logo{
    max-width: 100%;
    max-height: 100%;
}
.bottomdiv {
    height: 300px;
    width: 300px;
    position:absolute;
    left: 50px;
    bottom: -10px;
}