.container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.container>*:first-child{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: 100%;
    background-color:whitesmoke;
}
#mainImg{
    width: 454px;
    height: 245px;
    border: red;
    border-style: solid;
}
#submitButton{
    margin: auto;
    justify-self: center;
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}
#submitButton:hover {background-color: #3e8e41}

#submitButton:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
